In [1]:
docA = "nama maha murah maha sayang"
docB = "puji tuhan semesta alam"
docC = "maha murah maha sayang"

In [2]:
bowA = docA.split(" ")
bowB = docB.split(" ")   
bowC = docC.split(" ")

In [3]:
print (bowA,bowB,bowC)

['nama', 'maha', 'murah', 'maha', 'sayang'] ['puji', 'tuhan', 'semesta', 'alam'] ['maha', 'murah', 'maha', 'sayang']

In [4]:
wordSet= set(bowA).union(set(bowB).union(set(bowC)))

In [5]:
print (wordSet)

{'sayang', 'semesta', 'murah', 'nama', 'tuhan', 'puji', 'maha', 'alam'}

In [6]:
wordDictA = dict.fromkeys(wordSet, 0)
wordDictB = dict.fromkeys(wordSet, 0)
wordDictC = dict.fromkeys(wordSet, 0)

In [7]:
import pandas as pd
pd.DataFrame([wordDictA, wordDictB, wordDictC])

   alam  maha  murah  nama  puji  sayang  semesta  tuhan
0     0     0      0     0     0       0        0      0
1     0     0      0     0     0       0        0      0
2     0     0      0     0     0       0        0      0

In [8]:
for word in bowA:
    wordDictA[word]+=1
for word in bowB:
    wordDictB[word]+=1
for word in bowC:
    wordDictC[word]+=1

In [9]:
pd.DataFrame([wordDictA, wordDictB, wordDictC])

   alam  maha  murah  nama  puji  sayang  semesta  tuhan
0     0     2      1     1     0       1        0      0
1     1     0      0     0     1       0        1      1
2     0     2      1     0     0       1        0      0

In [10]:
def computeTF(wordDict, bow):
    import math
    tfDict = {}
    
    for word, count in wordDict.items():
        tfDict[word] = math.log10 (1 + count)
    return tfDict

In [11]:
tfBowA = computeTF(wordDictA, bowA)
tfBowB = computeTF(wordDictB, bowB)
tfBowC = computeTF(wordDictC, bowC)

In [12]:
pd.DataFrame([tfBowA, tfBowB, tfBowC])

      alam      maha    murah     nama     puji   sayang  semesta    tuhan
0  0.00000  0.477121  0.30103  0.30103  0.00000  0.30103  0.00000  0.00000
1  0.30103  0.000000  0.00000  0.00000  0.30103  0.00000  0.30103  0.30103
2  0.00000  0.477121  0.30103  0.00000  0.00000  0.30103  0.00000  0.00000

In [13]:
def computeIDF(docList):
    import math
    idfDict = {}
    N = len(docList)
    
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    for doc in docList:
        for word, val in doc.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N / float(val))
        
    return idfDict

In [14]:
idfs = computeIDF([wordDictA, wordDictB, wordDictC])

In [15]:
pd.DataFrame([idfs])

,alam,maha,murah,nama,puji,sayang,semesta,tuhan
0,0.477121,0.176091,0.176091,0.477121,0.477121,0.176091,0.477121,0.477121

In [19]:
def computeTFIDF(tfBow, idfs):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val * idfs[word]
    return tfidf

In [22]:
tfidfBowA =  computeTFIDF(tfBowA, idfs)
tfidfBowB = computeTFIDF(tfBowB, idfs)
tfidfBowC = computeTFIDF(tfBowC, idfs)

In [23]:
# Lastly I'll stick those into a matrix.
pd.DataFrame([tfidfBowA, tfidfBowB, tfidfBowC])

,alam,maha,murah,nama,puji,sayang,semesta,tuhan
0,0.000000,0.084017,0.053009,0.143628,0.000000,0.053009,0.000000,0.000000
1,0.143628,0.000000,0.000000,0.000000,0.143628,0.000000,0.143628,0.143628
2,0.000000,0.084017,0.053009,0.000000,0.000000,0.053009,0.000000,0.000000

In [2]:
from pandas import DataFrame
 
Cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [22000,25000,27000,35000],
        'Year': [2015,2013,2018,2018]
        }
 
df = DataFrame(Cars, columns= ['Brand', 'Price','Year'])

# sort by multiple columns: Year and Price
df.sort_values(by=['Brand'], inplace=True)

print (df)

            Brand  Price  Year
3         Audi A4  35000  2018
2      Ford Focus  27000  2018
0     Honda Civic  22000  2015
1  Toyota Corolla  25000  2013